

form#emugepc-form .form-item {
  display: block;
  width: 100%;
}

table {
  width: 100%;  
}

div.results-buttons {
  padding: 10px;  
}

tr:hover{
  /*
    background-color: #FBEDBB;
    
    -webkit-transition: all .25s !important;
	-moz-transition: all .25s !important;
	-o-transition: all .25s !important;
	transition: all .25s !important;
  */
}

input[type="submit"] .boxed-button {
  border-radius: 0px;
  box-shadow: none;
}

div#autocomplete {
  background-color: white;
  background-image: url('/sites/default/files/90deg-logo-background.png');
  background-repeat: no-repeat;  
  background-position: top right;
  min-height: 300px;
  
}

#autocomplete > * option:hover {
  background-color:rgba(255,0,4,0.38);  
}

div#autocomplete * {
  background: transparent;  
  width: 90%;
}
